body {
    font-family: 'Montserrat', sans-serif;
}

.headerr {
    background-color: #000;
    height: 100px;
    color: white;
    font-size: 40px;    
}

.center {
    height: 800px;
    position: relative;
}

.channels {    
    background-color: khaki;
    height: 800px;
}

.live {
    background-color: lightblue;
    height: 600px;
}

.banner {
    background-color: red;
    height: 200px;
    position: absolute;
    bottom: 0;
}

.chat {
    background-color: lightseagreen;
    height: 800px;
    
}

.footer {
    background-color: saddlebrown;
    height: 150px;
}